body{

    font-size: 25px;
    color: black;
   
    background-image:url("http://i.imgur.com/rPvxulV.jpg")
  }
  
  button{
    background-color:greenyellow;
    color: #fff;
    border: none;
    padding: 10px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 5%;
  }
  
  .content{
  
    text-align: center;
    border: 3px solid red;
    border-radius: 9px;
    margin-top: 100px;
    margin-right: 100px;
    margin-left: 100px;
    background-color: skyblue;
  }

  form{
      padding: 2%;
      justify-content: space-around;
  }
